@media (min-width: 1200px) {
.container {
    max-width: 970px;
	
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-bottom: 15px;
font-family: 'Lato', sans-serif;
}
.global-search {
text-align:center;
padding-top:10%;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
}
.top{
position: absolute;
top: 0;
right: 0;
z-index: -10;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}

.card-body{
margin: 0;
padding-top: 5px;
padding-bottom: 5px;
width: 100%;
background: rgba(255,255,255, 0.45);
}

.card:hover{
background: rgba(255,255,255, 0.7);
}

.link-div a{
width: 100%;
display: inline-block;
color: black;
text-decoration: none;
font-size: 20;
}

.panel-collapse{
background: rgba(255,255,255, 0.7);
}