<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		
	</head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
		
		<div class = "container">
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; color: #4285F4">
                Kanoe
            </h1>
            
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Your ideal trip" autocomplete = "">
            </div><br><br><br>
			
			<button type = "button" class = "btn btn-info" data-toggle="collapse" data-target="#advsearch" aria-expanded="false" aria-controls="collapseExample">Advanced Search </button>
			<br>
			<div id = "advsearch" class = "collapse form-group" aria-expanded = "false" style = "height: 0px"><br>
				<br><br>
				<select id = "input2" name = "price" class = "form-control">
					<option value = "" selected = "selected" hidden="hidden">Price Range</option>
					<option value = "$">$</option>
					<option value = "$$">$$</option>
					<option value = "$$$">$$$</option>
				</select><br><br>
				<select id = "input3" name = "group" class = "form-control">
					<option value = "" selected = "selected" hidden="hidden">Trip style</option>
					<option value = "individual">Individual</option>
					<option value = "family">Family</option>
					<option value = "friends">Friends</option>
					<option value = "individual">Romance</option>
				</select><br><br>
				<select id = "input4" name = "climate" class = "form-control">
					<option value = "" selected = "selected" hidden="hidden">Climate</option>
					<option value = "tropical">Tropical</option>
					<option value = "temperate">Temperate</option>
					<option value = "cold">Cold</option>
				</select><br><br>
				<div class = "form-group">
					Rural
					<input type = "range" min = "0" max = "2" value = "1" name = "urban" class = "form-control" id = "urbanrange">
					Urban
				</div>
				<br><br>
				<input type = "text" id = "input2" name = "currentloc" class = "form-control" placeholder = "Your current location">
				<br><br>
				<input type = "number" name = "numberLocs" class = "form-control" min = "1" max = "12" placeholder = "Number of desired recommendations">
			</div><br><br>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>		
		<img class = "top img-responsive" alt = "Fisherman" src="/static/boat-canoe-fishermen.jpg">
        <form class= "text-center">
        {% if data %}
			<div class = "row">
				<div class = "col-md-12 center">
					<h2 class = "display-3">{{output_message}}</h2>
					<h3 class = "display-4">We found:</h2></br>
				</div>
			</div>
			<div class = "row row-no-gutters">
			{% for d in data %}  
				<div class = "col-md-6 col-sm-6 col-xs-12">
					<div id = "card{{loop.index}}" class = "card">
						<div class = "card-header">
							{{d['city']}}
							{{d['country']}}<br>
							Similarity: {{d['score']}}
						</div>
						<div class = "container-fluid" style = "height: 100px">
							<div class = "row row-no-gutters">
								{% for place in d['attractions'] %}
									{{place['name']}},
									{{place['type']}}
									{{place['reviews']['rating']}}<br>
									{% for review in place['reviews']['reviews'] %}
										{{review['rating']}} stars:
										{{review['text']}}<br>
									{% endfor %}	
									{% if place['website'] != 'nan': %}
										<a href = {{place['website']}}>{{place['website']}}</a><br>
									{% else %}
										<a href = "http://www.google.com/search?q={{place['name']}}">Search for this place</a><br>
									{% endif %}
								{% endfor %}
								<!--
								<div class = "col-md-4">
									Eat
								</div>
								<div class = "col-md-4">
									Drink
								</div>
								<div class = "col-md-4">
									Do
								</div>
							</div>
							<div class = "row row-no-gutters">
								<div class = "col-md-6">
									Cost:
								</div>
								<div class = "col-md-6">
									Because you searched for:
								</div>-->
							</div>
							
						</div>
						
					</div>
					
				</div>
            {% endfor %}
			
			</div>
        {% endif %}
        </form>
		</div>

		
    </body>

</html>