<html>
    <head>
        <title>Kanoe</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins" />
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1">

        
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/static/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.js"></script>
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<script> $(function(){var tags = ["kayaking", "skiing"]; $( "#simpsearch" ).autocomplete({source: tags});});</script>
	</head>
    <body>
        		
		<div class = "container-fluid">
		<div class = "row" id = "header">
			<div class = "col-sm-4 col-lg-3 col-xs-12">
				<h1 style="font-size: 55px; color: #4285F4" class = "text-center">
						Kanoe
				</h1>
			</div>
			
		</div>
		<div class = "row" style = "height: auto">
			<div class = "col-lg-3 col-sm-4 col-xs-12" id = "search-pane">
				<form class="form-inline global-search" id = "search-main">

					<br><br>
					
					<div class = "ui-widget">
						<input id="simpsearch" type="text" name="search" class="" placeholder="Your ideal trip" autocomplete = "" id = "basic-search" data-role = "tagsinput">
					</div><br><br>
					
					<button type = "button" class = "btn btn-info form-control global-search" data-toggle="collapse" data-target="#advsearch" aria-expanded="false" aria-controls="collapseExample">Advanced Search </button>
					<br>
					<div id = "advsearch" class = "collapse" aria-expanded = "false" style = "height: 0px"><br>
						
						<select id = "input2" name = "price" class = "form-control">
							<option value = "" selected = "selected" hidden="hidden">Price Range</option>
							<option value = "$">$</option>
							<option value = "$$">$$</option>
							<option value = "$$$">$$$</option>
						</select><br><br>
						<select id = "input3" name = "group" class = "form-control">
							<option value = "" selected = "selected" hidden="hidden">Trip style</option>
							<option value = "individual">Individual</option>
							<option value = "family">Family</option>
							<option value = "friends">Friends</option>
							<option value = "individual">Romance</option>
						</select><br><br>
						<select id = "input4" name = "climate" class = "form-control">
							<option value = "" selected = "selected" hidden="hidden">Climate</option>
							<option value = "Arid">Arid/Dry</option>
							<option value = "Cold (continental)">Cool/Cold</option>
							<option value = "Polar">Polar</option>
							<option value = "Warm summer">Warm</option>
							<option value = "Temperate">Temperate</option>
							<option value = "Tropical">Tropical</option>
						</select><br><br>
						
						<div class = "form-inline">
						Rural						
						<input type = "range" min = "0" max = "2" value = "1" name = "urban" class = "form-control" id = "urbanrange">
						Urban
						</div>
						
						<br>
						<input type = "text" id = "input2" name = "currentloc" class = "form-control" placeholder = "Your current location">
						<br><br>
						<input type = "number" name = "numberLocs" class = "form-control" min = "1" max = "12" placeholder = "Number of desired recommendations">
					</div><br><br>
					<button type="submit" class="btn btn-info form-control" id = "submit-button" method = 'POST'> Go! </button>
				</form>	
			</div>
			<div class = "col-lg-9 col-sm-8 col-xs-12 h-100" id = "results-pane">
			<div class = "image-slideshow">
				<div id = "error-message">{{output_message}}</div>
				{% for i in range(13) %}
					<img class = "image img-responsive slide" alt = "Fisherman" src="/static/images/img{{loop.index}}.jpg">
				{% endfor %}
			</div>
			<script>
			//Slideshow based on W3schools slideshow code at https://www.w3schools.com/howto/howto_js_slideshow.asp
			var slide_num = Math.floor(Math.random()*13);
			slideshow();
			
			function slideshow(){
				var i;
				var slides = document.getElementsByClassName("slide");
				for (i = 0; i < slides.length; i++) {
					//slides[i].style.display = "none";
					slides[i].style.opacity = 0
				}
				if (slide_num >= slides.length) {slide_num = 0} 

				slide_num++;
				slides[slide_num-1].style.opacity = 1; 
				
				setTimeout(slideshow, 7000); // Change image every 7 seconds
			}
			</script>
			<form id = "results-main">
			{% if data %}
				{% for d in data %}  
					{% set outer_loop = loop %}
						<div id = "card{{loop.index}}" class = "card row">
							<div class = "card-header">
								{{d['city']}}, {{d['country']}}<br><br>
								
							</div>
							<div class = "container-fluid card-body">
								<div class = "row row-no-gutters">
									{% for place in d['attractions'] %}
										
										<div class = "col-sm-4 col-xs-12">
											<div class =  "attraction-info">
											<div class = "loc-heading">
											{{place['name'].title()}}
											<div class = "starbox">
											
											{% if place['reviews']['rating'] != null %}
												{% set rating = place['reviews']['rating']|round(1) %}
												{% for _ in range(1,10)%}
													{% if loop.index < rating %}
														<img alt = "Star" class = "stars" src = "/static/icons8-star-filled-48.png">
													{% endif%}
												{% endfor %}
												{% if rating - rating|round(0,'floor') != 0 %}
													<img alt = "Star" class = "stars" src = "/static/icons8-star-half-48.png">
												{% endif %}
												
											{% endif %}
											</div>
											</div><br>
											<div class = "text-capitalize">{{place['type']}}
											</div><br><br>
											<div class = "buttons">
											<button type = "button" class = "btn btn-info more-info" data-toggle="collapse" data-target= "#location-info{{outer_loop.index}}{{loop.index}}" aria-expanded="false" aria-controls="collapseExample">More info</button>
											{% if place['website'] != 'nan': %}
												<a href = {{place['website']}} class = "google-this btn btn-info" target = "_blank">Website</a><br>
											{% else %}
												<a href = "http://www.google.com/search?q={{place['name']}}, {{d['city']}}" class = "google-this btn btn-info" target = "_blank">Search for this place</a><br>
											{% endif %}
											</div>
											</div>
										</div>
									{% endfor %}
								</div>
								
								<div class = "row " id = "location-info">
									{% for place in d['attractions'] %}
										<div class = "col-md-12 collapse" id = "location-info{{outer_loop.index}}{{loop.index}}">
											<br><br>
											<div id = "because{{outer_loop.index}}{{loop.index}}">
												Because you searched for:
												{% for word in place['matches']%}
													{{word}}
												{% endfor %}
											</div>
											<div id = "reviews{{outer_loop.index}}{{loop.index}}">
												
												{% if place['reviews']['reviews']|length == 0 %}
													No Reviews
												{% endif %}
												{% for review in place['reviews']['reviews'] %}
													{{review['rating']}} stars:
													{{review['text']}}<br>
												{% endfor %}	
											</div>
										</div>
									{% endfor %}
								</div>
								
							</div>
						
						</div>
				{% endfor %}

			{% endif %}
			</form>
			</div>
		</div>
		
		</div>
		<div id = "footer" class = "row">
			<div class = "col-md-4">Project Name: {{ name }}</div>
			<div class = "col-md-8">Student Name: ({{ netid }})</div>
		</div>

		
    </body>

</html>