<html>
    <head>
        <title>Kanoe</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins" />
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/static/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.js"></script>
        <script type="text/javascript" src="/static/scripts/destinationMap.js"></script>
        <script src="/static/scripts/country_place.json"></script>
		<script type = "text/javascript" src="/static/bootstrap-tagsinput-latest/typeahead.bundle.js"></script>

		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>

		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<script> $(function(){var tags = ["kayaking", "skiing"]; $( "#simpsearch" ).autocomplete({source: tags});});</script>
	</head>
    <body>

		<div class = "container-fluid">
		<div class = "row" id = "header">
			<div class = "col-sm-4 col-lg-3 col-xs-12">
				<h1 style="font-size: 55px; color: #4285F4" class = "text-center">
          <img src="../static/images/canoe.png" width=60px>
					<a href = "/" style = "text-decoration: none; color:#4285F4";><b>kanoe</b></a>
				</h1>
			</div>

		</div>
		<div class = "row" style = "height: auto">
			<div class = "col-lg-3 col-sm-4 col-xs-12" id = "search-pane">
				<form class="form-inline global-search" id = "search-main">

					<br><br>

					<div class = "" id = "bloodhound">
						<input type="text" name="search" placeholder="Your ideal trip" id = "basic-search" data-role = "tagsinput">

					</div><br><br>
					<script>
					//Typeahead code sourced from https://github.com/bootstrap-tagsinput/bootstrap-tagsinput/issues/555
					$(document).ready(function(){
						var suggestions = ['vacation', 'skiing', 'testing', 'skunks'];
						var bloodHoundObj = new Bloodhound({
						  datumTokenizer: Bloodhound.tokenizers.whitespace,
						  queryTokenizer: Bloodhound.tokenizers.whitespace,
						  // url points to a json file that contains an array of country names, see
						  // https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
						  local: suggestions
						});
						bloodHoundObj.initialize();
						$('#basic-search').tagsinput({
							typeaheadjs: {
								name: 'suggestions',
								hint: true,

								source: bloodHoundObj.ttAdapter()
							}
						});

					});
					</script>
					<button type = "button" class = "btn btn-info form-control global-search" data-toggle="collapse" data-target="#advsearch" aria-expanded="false" aria-controls="collapseExample">Advanced Search </button>
					<br>
					<div id = "advsearch" class = "collapse" aria-expanded = "false" style = "height: 0px"><br>

						<select id = "input2" name = "price" class = "form-control">
							<option value = "" selected = "selected">Price Range</option>
							<option value = "low">$</option>
							<option value = "med">$$</option>
							<option value = "high">$$$</option>
						</select><br><br>
						<select id = "input3" name = "purpose" class = "form-control">
							<option value = "" selected = "selected">Trip Type</option>
							<option value = "individual">Individual</option>
							<option value = "family">Family</option>
							<option value = "friends">Friends</option>
							<option value = "romance">Romance</option>
							<option value = "spring break">Spring Break</option>
							<option value = "educational">Educational/Historical</option>
						</select><br><br>
						<select id = "input4" name = "climate" class = "form-control">
							<option value = "" selected = "selected">Climate</option>
							<option value = "Arid">Arid/Dry</option>
							<option value = "Cold (continental)">Cool/Cold</option>
							<option value = "Polar">Polar</option>
							<option value = "Warm summer">Warm</option>
							<option value = "Temperate">Temperate</option>
							<option value = "Tropical">Tropical</option>
						</select><br><br>

						<div class = "form-inline">
						Rural
						<input type = "range" min = "0" max = "2" value = "1" name = "urban" class = "form-control" id = "urbanrange">
						Urban
						</div>

						<br>
						<input type = "text" id = "input2" name = "currentloc" class = "form-control" placeholder = "Your current location">
						<br><br>
						<input type = "number" name = "numberLocs" class = "form-control" min = "1" max = "12" placeholder = "Number of recommendations desired">
					</div><br><br>
					<button type="submit" class="btn btn-info form-control" id = "submit-button" method = 'POST'> Go! </button>
				</form>
			</div>
			<div class = "col-lg-9 col-sm-8 col-xs-12 h-100" id = "results-pane">
			<div class = "image-slideshow" id = "slideshow">
				<div id = "error-message">{{output_message}}</div>
				<script src = "/static/scripts/slideshow.js"></script>

			</div>
			<form id = "results-main">
			{% if data %}


				<div id="map" ></div>

				<style>
   				  #map {
  				height: 50%;
 				 width: 60%;
				 display: none;
				}
				</style>


				<script type="text/javascript">


				var lat_lng = {{data|tojson|safe}};

				cityLookup = places


				var pairs = []

				for (i = 0; i < lat_lng.length; i++) {

					var city = lat_lng[i]['city']
					if (city in cityLookup){

						var lat = cityLookup[city][0]
						var lon = cityLookup[city][1]
						
						if (lat != 0 || lon != 0)
							pairs.push([parseFloat(lat),parseFloat(lon),city])
					}

				}
				showMap(pairs)
				</script>


				{% for d in data %}  

					{% set outer_loop = loop %}
								<button id = "back{{outer_loop.index}}" class = "btn btn-info back" onclick = "showCards({{loop.index}})" type = "button">Go back</button>
								<script>
								function showSimilars(loop){
									var cards = document.getElementsByClassName("card");
									for(var i=0; i< cards.length; i++){
										cards[i].style.display = "none";
									}
									var simcities = document.getElementById("city-sims" + loop)
									simcities.style.display = "block";
									var goback = document.getElementById("back" + loop);
									goback.style.display = "block";
								}
								function showCards(loop){
									var cards = document.getElementsByClassName("card");
									for(var i=0; i< cards.length; i++){
										cards[i].style.display = "block";
									}
									var simcities = document.getElementById("city-sims" + loop)
									simcities.style.display = "none";
									
									var goback = document.getElementById("back" + loop);
									goback.style.display = "none";
								}
								</script>
								<div class = "row sim-container" id = "city-sims{{outer_loop.index}}">
								{% for c in sim_city_dict[d['city']] %}
									<a href = "/?search={{c}}"  style = "text-decoration: none; color: black;"><div id = "sim{{loop.index}}" class = "city-only col-xs-3">
										{{c}}
										<script>
										/*var key = "AIzaSyDRD4hKAN9sdI3oKuR67aQKFHgl-p7EFNI";
										var cx = "007880840922509643519:hc-844xdo6s";
										$(document).ready(function(){
										const Url = 'https://www.googleapis.com/customsearch/v1?key=' + key+ '&cx='+cx + '&q={{c}}'; 
										var curr_img_data;
										curr_img_data = $.get(Url, function(data,status){return('${data}')});
										
										console.log(curr_img_data)
										
										});*/
			
										</script>
									</div>
									</a>
									
								{% endfor %}
								</div>
						<div id = "card{{loop.index}}" class = "card row">
							<div class = "card-header">
								{{d['city']}}
								{% if d['country'] != ""%}, {{d['country']}}{% endif %}

								<button class = "btn btn-info similar-cities" onclick = "showSimilars({{loop.index}})" type = "button">Find Similar Cities</button>
								

							</div>
							
							<div class = "container-fluid card-body" >
								<div class = "row row-no-gutters" id = "city{{outer_loop.index}}" style = 'margin-bottom: 0px;'>
									{% for place in d['attractions'] %}

										<div class = "col-sm-4 col-xs-12">
											<div class =  "attraction-info">
											<div class = "loc-heading">
											{{place['name']}}
											<div class = "starbox">

											{% if place['reviews']['rating'] != null %}
												{% set rating = place['reviews']['rating']|round(1) %}
												{% for _ in range(1,10)%}
													{% if loop.index < rating %}
														<img alt = "Star" class = "stars" src = "/static/icons8-star-filled-48.png">
													{% endif%}
												{% endfor %}
												{% if rating - rating|round(0,'floor') != 0 %}
													<img alt = "Star" class = "stars" src = "/static/icons8-star-half-48.png">
												{% endif %}

											{% endif %}
											</div>
											</div><br>
											<div class = "text-capitalize">{{place['type']}}
											</div><br><br>
											<div class = "buttons">
											<button type = "button" class = "btn btn-info more-info" data-toggle="collapse" data-target= "#location-info{{outer_loop.index}}{{loop.index}}" data-parent= "#city{{outer_loop.index}}" aria-expanded="false" aria-controls="collapseExample">More info</button>
											{% if place['website'] != 'nan': %}
												<a href = {{place['website']}} class = "google-this btn btn-info" target = "_blank">Website</a><br>
											{% else %}
												<a href = "http://www.google.com/search?q={{place['name']}}, {{d['city']}}" class = "google-this btn btn-info" target = "_blank">Search for this place</a><br>
											{% endif %}
											</div>
											</div>
										</div>
									{% endfor %}
									<div class = "panel" style = "background: none;">
									{% for place in d['attractions'] %}
											<div class = "col-md-12 collapse more" id = "location-info{{outer_loop.index}}{{loop.index}}">
												<h3> {{place['name']}} </h3>
												
												Place description contains:
												{% for _ in range(1,8) %}
													{% if loop.index < 7 %}
														{{place['description'][loop.index]}}, 
													{% endif %}
													{% if loop.index == 7 %}
														{{place['description'][loop.index]}}
													{% endif %}
													
												{% endfor %}
												<div class = "row">
												
												<div id = "because{{outer_loop.index}}{{loop.index}}" class = "col-xs-4">
													<h4>Because you searched for:</h4>
													{% for word in place['matches']%}
														{{word}}
														{% if loop.index < place['matches']|length %}
														,
														{% endif %}
													{% endfor %}
												</div>
												
												<div id = "reviews{{outer_loop.index}}{{loop.index}}" class = "col-xs-8">

													{% if place['reviews']['reviews']|length == 0 %}
														<h4>No reviews available</h4>
													{% endif %}
													{% for review in place['reviews']['reviews'] %}
														{{review['rating']}} stars:
														{{review['text']}}<br>
													{% endfor %}
												</div>
												</div>
												<br>
											</div>
									{% endfor %}
									</div>
								</div>
							</div>
						</div>
				{% endfor %}

			{% endif %}
			</form>
			</div>
		</div>

		</div>
    </body>

</html>
